<div class=" ">
    <div class="w-full text-left text-black py-2 border-b border-gray-300 flex justify-between items-center">
      <h2 class="text-xl font-semibold">{{ project?.title }}</h2>
      <button
        (click)="removeTab(project!)"
        class="px-3 py-1 bg-red-500 text-white rounded-md hover:bg-red-600"
      >
        Remove Tab
      </button>
    </div>
    <div class="py-4 text-gray-700">
      <p class="mb-2">{{ project?.description }}</p>
      <p class="text-sm text-gray-500">Due Date: {{ project?.date }}</p>
    </div>
    <div class="mt-4">
      <h3 class="text-lg font-semibold">Tasks</h3>
      <div class="flex items-center mt-2">
        <input
          [(ngModel)]="newTask"
          type="text"

          class="flex-grow px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Enter a task"
        />
        <button
          (click)="addTask()"
          class="ml-2 px-4 py-2 bg-indigo-600 text-white rounded-md shadow-sm hover:bg-indigo-700"
        >
          Add Task
        </button>
      </div>
      <button
        (click)="removeTasks()"
        class="mt-4 px-4 py-2 bg-yellow-500 text-white rounded-md shadow-sm hover:bg-yellow-600"
      >
        Clear Tasks
      </button>
    </div>
    <div class="mt-4">
      @if(project?.tasks?.length==0){
        <p class="text-gray-500">No tasks added yet.</p>
      }@else {
        
        @for (task of project?.tasks; track task) {
          <div>
            <div class="mt-2 px-3 py-2 bg-gray-100 rounded-md">
              {{task}}
            </div>
          </div>
        }
      }
      
    </div>
  </div>
  